<div class="flex justify-center p-4">
  <div class="flex justify-between items-center w-full md:w-[768px]">
    <h1 class="text-4xl font-bold text-vanilla hover:underline"><%= link_to "snippit", home_path %></h1>
    <div class="flex gap-4">
      <% if current_user %>
        <%= link_to "your links", user_path(current_user), class: "text-cream cursor-pointer hover:underline hover:text-vanilla font-medium" %>
      <% end %>
      <%= link_to "shortener", home_path, class: "text-cream cursor-pointer hover:underline hover:text-vanilla font-medium" %>
      <%= link_to "search", search_path, class: "text-cream cursor-pointer hover:underline hover:text-vanilla font-medium" %>
      <% if current_user %>
        <%= button_to "log out", destroy_user_session_path, method: :delete, class: "text-cream cursor-pointer hover:underline hover:text-vanilla font-medium" %>
      <% else%>
        <%= link_to "log in", new_user_session_path, class: "text-cream cursor-pointer hover:underline hover:text-vanilla font-medium" %>
      <% end %>
    </div>
  </div>
</div>


<div class="m-4 md:mx-auto p-4 md:w-[768px] text-cream rounded-md border border-cream shadow-md shadow-grey-200">
  <h5 class="truncate font-medium text-cream"><%= @url.title %></h5>
  <div>short link: <a href="<%= redirect_url_path(@url.short) %>" target="_blank" class="font-medium text-vanilla hover:underline">snippit.my/<%= @url.short %></a></div>
  <div class="truncate">original link: <a href="<%= @url.target %>" target="_blank" class="font-medium text-vanilla hover:underline"><%= @url.target %></a></div>
</div>

<h1 class="text-3xl font-medium m-4 md:w-[768px] md:mx-auto text-vanilla"><%= pluralize(@visits.length, "visit") %></h1>

<% unless @visits.empty? %>
  <div class="grid grid-rows-<%= @visits.length - 1 %> text-sm md:w-[768px]  md:mx-auto rounded-md border border-vanilla shadow-md shadow-grey-200 p-3">
    <div class="grid grid-cols-8 text-sm md:w-[768px] md:mx-auto rounded-md">
      <div class="p-2 py-3 col-span-2 font-bold rounded-md text-vanilla">ip address</div>
      <div class="p-2 py-3 font-bold col-span-2 rounded-md text-vanilla">city</div>
      <div class="p-2 py-3 font-bold col-span-2 rounded-md text-vanilla">country</div>
      <div class="p-2 py-3 font-bold col-span-2 rounded-md text-vanilla">datetime</div>
    </div>
    <% @visits.each_with_index do |visit, index| %>
      <div class="grid grid-cols-8 text-sm rounded text-cream">
        <div class="p-2 py-3 col-span-2 truncate"><%= visit.ip %></div>
        <div class="p-2 py-3 col-span-2 truncate"><%= visit.city %></div>
        <div class="p-2 py-3 col-span-2 truncate"><%= visit.country %></div>
        <div class="p-2 py-3 col-span-2 "><%= local_time(Time.new(visit.request_time), "%d/%m/%y %-l:%M%P") %></div>
      </div>
    <% end %>
  </div>
<% end %>

