<div class="flex flex-col justify-center items-center min-h-[95%] text-xl gap-2" data-controller="notice">
  <%= render 'partials/navbar' %>
  <%= render 'partials/alert', message: "" %>
  <%= form_with url: "/analytics", method: :get, class: "flex w-full gap-2 justify-center py-2 px-6 md:w-[768px]" do |form| %>
    <%= form.url_field :short, required: true, class: "flex-1 bg-gray-100 rounded-lg border-transparent focus:border-transparent focus:ring-0 autofill:bg-transparent", placeholder: "https://snippit.my/t______" %>
    <%= form.submit value: "get analytics", class: "p-2 rounded-lg cursor-pointer font-medium text-base bg-darkslategrey text-vanilla border border-vanilla transition hover:bg-vanilla hover:text-darkslategrey" %>
  <% end %>
  <div class="flex gap-5">
    <%= link_to "shortener", home_path, class: "text-cream hover:text-vanilla cursor-pointer hover:underline font-medium" %>
    <% if current_user %>

    <% else %>
      <%= link_to "log in", new_user_session_path, class: "text-cream cursor-pointer hover:underline hover:text-vanilla font-medium", data: { action: %(mouseover->notice#reveal mouseout->notice#hide) } %>
      <%= link_to "sign up", new_user_registration_path, class: "text-cream cursor-pointer hover:underline hover:text-vanilla font-medium", data: { action: %(mouseover->notice#reveal mouseout->notice#hide) } %>
    <% end %>
  </div>
  <% unless current_user %>
    <p class="text-darkslategrey font-medium my-5" data-notice-target="reason">sign up to track your links!</p>
  <% end %>
</div>
